<template name="dashboard">
   <div class="ui container">

	<div class="ui grid centered inverted dashboard">
	    <div class="row">
				<div class="grocery square">
				  <div class="contenu">
				    <i class="big inverted food icon"></i>
				  	<h5 class="white">Grocery List</h5>  
				  </div>
				</div>
				<div class="chat square">
				  <div class="contenu">
				    <i class="big inverted comment icon"></i>
				  	<h5 class="white">Chat</h5>  
				  </div>
				</div>
				<div class="payment square grey">
				  <div class="contenu">
				    <i class="big inverted lock icon"></i>
				  	<h5 class="white">Payment</h5>  
				  </div>
				</div>
				<div class="todo square grey">
				  <div class="contenu">
				    <i class="big inverted lock icon"></i>
				  	<h5 class="white">Todo List</h5>  
				  </div>
				</div>
				<div class="rules square grey">
				  <div class="contenu">
				    <i class="big inverted lock icon"></i>
				  	<h5 class="white">Rules</h5>  
				  </div>
				</div>
				<div class="calendar square grey">
				  <div class="contenu">
				    <i class="big inverted lock icon"></i>
				  	<h5 class="white">Schedules</h5>  
				  </div>
				</div>

	    </div>
	   
    </div>
   </div>	
</template>