<template name="groceryList">

<div class="ui container">
	  <div class="row">
	    <div class="column centered">
			<div class="ui stackable column grid">
				  <ul>
					  <li class="house tenantselector column">
					        <img class="ui tiny circular image" src="/images/house_icon.png">
					  </li>
					  {{#each myroommates}}
					  <li class="tenantselector column">
					        <img class="ui tiny circular image" src="{{profile.thumb}}">
					  </li>
					  {{/each}}
				  </ul>
			</div>
	    </div>
	  </div>
	  <div class="row">
			<div class="ui middle aligned divided list">
			 {{#each groceryItems}}
			  <div class="groceryneeded item">
			    <div class="right floated content">
			        <div class="ui checkbox">
					  <input type="checkbox" name="example">
					</div>
			    </div>
				<i class="red large minus circle icon delete"></i>
			    <div class=" content">
			      <h3>{{item}} ....... X{{quantity}}</h3>
			    </div>
			  </div>
			{{/each}}
	  		</div>
  		</div>

  <a href="/groceryMarket">
  	<button class=" fluid ui button blue icon additem">
         <i class=" small plus icon"></i>
  	</button>
  </a>
</div>
</template>

