<template name="groceryMarket">
  

  <div class="ui container">
    <a href="/groceryList" class="ui icon button blue">
        <i class="icon arrow left"></i>
      </a>

    {{#if currentUser}}
     
     <div class="ui divider"></div>

     <form class="new-groceryItem ui form">
      <div class="field">
        <label>Add a new item</label>
        <input type="text" name="text">
      </div>
     </form>

     <br>
     <div class="ui toggle checkbox">
       <input type="checkbox" class="editmode">
        <label>Edit mode</label>
    </div>

     <div class="ui divider"></div>

   <div class="ui modal">
      <i class="close icon"></i>
       <form class="new-groceryItem ui form">
          <div class="field content">
            <input class ="ui inverted" type="text" name="text" placeholder="add a new item">
          </div>
       </form>
    </div>


    <div class="ui doubling stackable column">
          
        {{#each groceryItems}}
	  			<button class="column middle aligned ui blue button icon addToList groceryitem">
                <i class="big inverted {{#if grocery_icon}} icon-{{grocery_icon}} {{else}} tag {{/if}} icon"></i>
    	  				<h5>{{item}}</h5>  
            
             {{#if editmode}}
               <button class="delete corner remove red icon"></button>
             {{/if}}
	  			</button>

  			{{/each}}
    	</div>


       <div class="ui divider"></div>


      <a class="ui button primary checklist" href="/groceryList">Check out the grocery List</a>

      {{else}}
           <h2>Please Login or Sign up</h2>
           {{> loginButtons}}
      {{/if}}
  </div>
</template>

