<template name="home"> 

          <div class="ui page dimmer">
                  <div class="content">
                    <div class="center">
                      <h2 class="ui inverted icon header">
                        <i class="configure icon"></i>
                        <h3>We are still working on it</h3>
                        <span class="label">Come back soon :)</span>
                      </h2>
                    </div>
                  </div>
          </div>

</template>

<template name="signin">
  <div class="landing">

  <div class="ui container wrapper">

     <div class="ui logo inverted huge center aligned header">Fridgeboard</div>
      <p class="ui center inverted aligned header">We make organizing living with others easy
      </p>
      <br>

    <div class="ui stacked segment">


       <div class="ui two column middle aligned very relaxed stackable grid">
      <div class="column">
        <div class="ui form">
         <form class="signin">
            <div class="field">
              <label>Email</label>
              <div class="ui left icon input">
                <input type="text" placeholder="Email" name="email">
                <i class="user icon"></i>
              </div>
            </div>
            <div class="field">
              <label>Password</label>
              <div class="ui left icon input">
                <input type="password" placeholder="Password" name="password">
                <i class="lock icon"></i>
              </div>
            </div>
            <div class="ui buttons">
               <button type="submit" class="ui blue submit button">Login</button>
               <button type="button" class="ui button green signup">Create an Account</button>
            </div>
 


        </form>
          
        </div>
      </div>
      <div class="ui vertical divider">
        Or
      </div>
      <div class="center aligned column">
        <button type="button" class="ui button facebook"><i class="icon facebook"></i> Sign in with Facebook</button>
        
      </div>
    </div>
  </div>
  </div>
  </div>
</template>



<template name="signup">
  <div class="landing">

  <div class="ui container wrapper">

      <div class="ui logo inverted huge center aligned header">Fridgeboard</div>
      <p class="ui center inverted aligned header">We make organizing living with others easy
      </p>
      <br>

  <div class="ui stacked segment">
       <div class="ui aligned stackable "> 
         <form class="signup">
           <div class="ui form">
            <div class="field">
              <label>First Name</label>
              <div class="ui left icon input">
                <input type="text" placeholder="First Name" name="firstName">
                <i class="user icon"></i>
              </div>
            </div>
             <div class="field">
              <label>Last Name</label>
              <div class="ui left icon input">
                <input type="text" placeholder="Last Name" name="lastName">
                <i class="user icon"></i>
              </div>
            </div>
            <div class="field">
              <label>Email</label>
              <div class="ui left icon input">
                <input type="email" placeholder="Email" name="email">
                <i class="mail icon"></i>
              </div>
            </div>
            <div class="field">
              <label>Password</label>
              <div class="ui left icon input">
                <input type="password" placeholder="Password" name="password">
                <i class="lock icon"></i>
              </div>
            </div>
            <button type="submit" class="ui blue submit button">Next...</button> 
            <a href="/signin">Have an account?</a>
          </div>
         </form>
    </div>
  </div>
  </div>
  </div>
</template>




